@using Resources;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/Css/Layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/Panel.css")" rel="stylesheet" type="text/css" />
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <span>@UIStrings.LogoCaption</span>
            </div>
            <div id="authbox">
                @if (Request.IsAuthenticated)
                {
                    @string.Format(UIStrings.Welcome, this.User.Identity.Name) @:| @Html.ActionLink(UIStrings.Logout, "Logout", "User")
                }
                else
                {
                    @Html.ActionLink(UIStrings.Login, "LogIn", "User") @:| @Html.ActionLink(UIStrings.Registry, "Register", "User")
                }
            </div>
        </div>
        <div id="menu">
            <ul id="navlist">
                <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
                <li><a href="@Url.Content("~/Subpage/About")">About US</a></li>
                <li><a href="@Url.Content("~/Subpage/StudyInUS")">Study In The US</a></li>
                <li><a href="@Url.Content("~/Subpage/Services")">Services</a> </li>
                <li><a href="@Url.Content("~/Subpage/Contact")">Contact</a> </li>
                <li><a href="@Url.Content("~/Subpage/Resources")">Resources</a> </li>
            </ul>
        </div>
        <div id="main">
            <div id="content">
                @RenderBody()
            </div>
            <div id="sidebar">
                @if (IsSectionDefined("SiderBar"))
                { 
                    @RenderSection("SideBar");
                }
                else
                {
                    <div class="panel">
                        <h2>
                            <strong>Services</strong></h2>
                        <div class="panel_content  product">
                            <ul>
                                <li><strong>语音业务：</strong><a href="#">普通电话</a> | <a href="#">语音数字中继</a></li>
                                <li><strong>语音业务：</strong><a href="#">普通电话</a> | <a href="#">语音数字中继</a></li>
                                <li class="product3"><strong>语音业务：</strong><a href="#">普通电话</a> | <a href="#">语音数字中继</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel">
                        <h2>
                            <strong>联系</strong>我们</h2>
                        <div class="panel_content contact">
                            <a href="#">
                                <img src="/Content/images/tel.gif" alt="联系我们" width="222" height="112" /></a></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="footer">
        <dl>
            <dt><a href="#">关于我们</a> || <a href="#">产品目录</a> || <a href="#">联系我们</a> || <a href="#">
                友情链接</a> || <a href="#">反馈问题</a> || <a href="#">广告合作</a></dt>
            <dd>
                Copyright &copy; 2012 - 2013 All Rights Reserved<br />
                XXXX 版权所有 京ICP备XXXXX号</dd>
        </dl>
    </div>
    <script src="@Url.Content("~/Scripts/Libs/jquery-1.8.3.min.js")" type="text/javascript"></script>
    @RenderSection("ScriptContent", required: false)
</body>
</html>
