@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
<link href="@Url.Content("~/Content/Css/Message.css")" rel="stylesheet" type="text/css" />
}
@Html.Partial("Message")
@using (Html.BeginForm(new { @class = "user-login" }))
{
    <input type="hidden" name="returnUrl" value="@Request.QueryString["returnUrl"]" />
    <p class="field input">
        <label for="userName">
            User Name</label><br />
        @Html.TextBox("UserName")
        <span class="input-message"></span>
    </p>
		
    <p class="field input">
        <label for="password">
            Password</label><br />
        @Html.Password("Password")
        <span class="input-message"></span>
    </p>	
		
    <p class="field">
        @Html.CheckBox("persistent") Remember Me?</p>
	
    <p>
        @Html.ActionLink("Forgot Password", "ForgotPassword")|
        @Html.ActionLink("Join Now", "Register")
    </p>
	
    <hr />
    <p>
        <button type="submit" id="user-login-button">
            Submit</button></p>
}