@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Message")
@using (Html.BeginForm())
{
    if (!String.IsNullOrEmpty(Model.SecretQuestion))
    {
    @Html.Hidden("UserName");
    <p class="field input">
        Please answer the secret question:<label for="SecretQuestion">
            @Model.SecretQuestion</label><br />
        @Html.TextBox("SecretAnswer") <span class="input-message"></span>
    </p>
    }
    else
    { 
    <p class="field input">
        <label for="userName">
            Please enter your username</label>
        <br />
        @Html.TextBox("UserName") <span class="input-message"></span>
    </p>
    } 
    <hr />
    <p>
        <button type="submit" id="user-login-button">
            Submit</button></p>
}